.gradient-background {
  background: linear-gradient(-90deg, #A60000, #BF3030,#FF7373 );
}

.main-input {
  width: 400px !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  height: 100vh;
}

#site-logo {
  margin-bottom: 20px;
}




